@media (min-width: 319.98px) and (max-width: 374.98px){
    /* CSS Area Navbar */
    .main-menu{
        display: none;
    }
    .icon-menu{
        display: block;
    }
    .custom-width-offcanvas{
        width: 50% !important;
    }
    .area-logo{
        padding: 0 !important;
    }
    .area-menu{
        padding: 0 !important;
    }

    /* CSS Area Content Header */
    .desc-header{
        padding-top: 90px;
    }
    .title{
        font-size: 11vw;
    }
    .article{
        font-size: 4vw;
    }
    .desc-header br{
        display: none;
    }
    .title, .article, .btn-sewa{
        margin-left: 10px;
    }
    .img-header{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .btn-sewa{
        margin-bottom: 40px;
        font-size: 4vw !important; 
    }
    .img-header img{
        width: 90%;
        position: absolute;
        top: 0;
    }
    .bg-img-header{
        width: 93%;
        height: 8em;
        margin-top: 60px;
    }

    /* CSS Image Service */
    .img-service{
        padding-top: 100px !important;
        padding-left: 50px !important;
        margin: 0;
    }
    .img-service img{
        width: 100%;
        height: 100%;
    }

    /* CSS Description Service */
    .description{
        padding-top: 0;
        margin: 0;
    }
    .title-desc{
        margin-left: 10px;
        font-size: 7vw;
    }
    .title-desc br{
        display: none;
    }
    .article-desc{
        margin-left: 10px;
        font-size: 4vw;
    }
    .article-desc br{
        display: none;
    }
    .description ul{
        padding-left: 10px;
    }
    .description ul li{
        margin-top: 15px;
        font-size: 4vw;
    }
    .description ul li p{
        padding-top: 4px;
        margin-left: 40px;
    }

    /* CSS Why Us */
    .why-us{
        padding-top: 100px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .why-us h3{
        margin-bottom: 15px;
        font-size: 7vw;
    }
    .why-us p{
        margin-bottom: 20px;
        font-size: 4vw;
    }

    /* CSS Desc Why Us */
    .desc-why-us{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 15px;
        margin: 0;
    }
    .item-1 h6, .item-2 h6, .item-3 h6, .item-4 h6{
        font-size: 5vw;
    }
    .item-1 p, .item-2 p, .item-3 p, .item-4 p{
        font-size: 4vw;
    }
    .item-1 br, .item-2 br, .item-3 br, .item-4 br{
        display: none;
    }

    /* CSS Testimonial */
    .testimonial h3{
        font-size: 7vw;
    }
    .testimonial p{
        font-size: 4vw;
    }

    /* CSS Carousel */
    .mobile-block{
        display: none;
    }
    .box-testimonial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 92%;
        margin-left: 4%;
    }
    .photo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .item-testimonial img{
        width: 25%;
        height: 25%;
        margin-left: 37%;
        margin-right: 37%;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .item-testimonial p{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 4vw;
    }
    .item-testimonial br{
        display: none;
    }
    .box-testimonial .about-me{
        font-size: 4vw;
    }
    .my-btn-carousel{
        margin-left: 25px;
        margin-bottom: 50px;
    }

    /* CSS Deskripsi Sewa Mobil */
    .bg-desc-sewa{
        margin-bottom: 0 !important;
    }
    .desc-sewa{
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
    .desc-sewa h2{
        font-size: 7vw;
    }
    .desc-sewa p{
        font-size: 4vw;
        margin-bottom: 30px;
    }
    .desc-sewa br{
        display: none;
    }
    .btn-sewa-custom{
        font-size: 4vw !important;
    }

    /* CSS FAQ */
    .faq-container{
        margin: 0 0 330px 0 !important;
        padding-top: 100px;
    }
    .faq-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 20px;
    }
    .faq-title h5{
        margin: 0;
        font-size: 6.5vw;
        margin-bottom: 10px;
    }
    .faq-title p{
        margin: 0;
        font-size: 3.5vw;
    }
    .my-accordion{
        width: 100% !important;
    }
    .cstm-btn-accordion{
        font-size: 3.5vw !important;
    }
    .cstm-body-accordion{
        font-size: 3.5vw !important;
    }

    /* CSS Footer */
    .footer-1 p{
        font-size: 4vw;
    }
    .footer-2 a{
        font-size: 4vw;
    }
    .footer-3{
        margin-top: 15px !important;
    }
    .footer-4{
        padding-left: 14px !important;
        padding-bottom: 60px !important;
    }
    .footer-4 p{
        font-size: 4vw;
    }
}

@media (min-width: 375px) and (max-width: 424.98px){
    /* CSS Area Navbar */
    .main-menu{
        display: none;
    }
    .icon-menu{
        display: block;
    }
    .custom-width-offcanvas{
        width: 50% !important;
    }
    .area-logo{
        padding: 0 !important;
    }
    .area-menu{
        padding: 0 !important;
    }

    /* CSS Area Content Header */
    .desc-header{
        padding-top: 90px;
    }
    .title{
        font-size: 11vw;
    }
    .article{
        font-size: 4vw;
    }
    .desc-header br{
        display: none;
    }
    .title, .article, .btn-sewa{
        margin-left: 10px;
    }
    .img-header{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .btn-sewa{
        margin-bottom: 40px;
        font-size: 4vw !important;
    }
    .img-header img{
        width: 90%;
        position: absolute;
        top: 0;
    }
    .bg-img-header{
        width: 93%;
        height: 9em;
        margin-top: 80px;
    }

    /* CSS Image Service */
    .img-service{
        padding-top: 100px !important;
        padding-left: 50px !important;
        margin: 0;
    }
    .img-service img{
        width: 100%;
        height: 100%;
    }

    /* CSS Description Service */
    .description{
        padding-top: 0;
        margin: 0;
    }
    .title-desc{
        margin-left: 10px;
        font-size: 7vw;
    }
    .title-desc br{
        display: none;
    }
    .article-desc{
        margin-left: 10px;
        font-size: 4vw;
    }
    .article-desc br{
        display: none;
    }
    .description ul{
        padding-left: 10px;
    }
    .description ul li{
        margin-top: 15px;
        font-size: 4vw;
    }
    .description ul li p{
        padding-top: 4px;
        margin-left: 40px;
    }
    .description ul li img{
        margin-top: 0.25em;
    }

    /* CSS Why Us */
    .why-us{
        padding-top: 100px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .why-us h3{
        margin-bottom: 15px;
        font-size: 7vw;
    }
    .why-us p{
        margin-bottom: 20px;
        font-size: 4vw;
    }

    /* CSS Desc Why Us */
    .desc-why-us{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 15px;
        margin: 0;
    }
    .item-1 h6, .item-2 h6, .item-3 h6, .item-4 h6{
        font-size: 5vw;
    }
    .item-1 p, .item-2 p, .item-3 p, .item-4 p{
        font-size: 4vw;
    }
    .item-1 br, .item-2 br, .item-3 br, .item-4 br{
        display: none;
    }

    /* CSS Testimonial */
    .testimonial h3{
        font-size: 7vw;
    }
    .testimonial p{
        font-size: 4vw;
    }

    /* CSS Carousel */
    .mobile-block{
        display: none;
    }
    .box-testimonial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 92%;
        margin-left: 4%;
    }
    .photo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .item-testimonial img{
        width: 25%;
        height: 25%;
        margin-left: 37%;
        margin-right: 37%;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .item-testimonial p{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 4vw;
    }
    .item-testimonial br{
        display: none;
    }
    .box-testimonial .about-me{
        font-size: 4vw;
    }
    .my-btn-carousel{
        margin-left: 25px;
        margin-bottom: 50px;
    }

    /* CSS Deskripsi Sewa Mobil */
    .bg-desc-sewa{
        margin-bottom: 0 !important;
    }
    .desc-sewa{
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
    .desc-sewa h2{
        font-size: 7vw;
    }
    .desc-sewa p{
        font-size: 4vw;
        margin-bottom: 30px;
    }
    .desc-sewa br{
        display: none;
    }
    .btn-sewa-custom{
        font-size: 4vw !important;
    }

    /* CSS FAQ */
    .faq-container{
        margin: 0 0 91.5% 0 !important;
        padding-top: 100px;
    }
    .faq-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 20px;
    }
    .faq-title h5{
        margin: 0;
        font-size: 6.5vw;
        margin-bottom: 10px;
    }
    .faq-title p{
        margin: 0;
        font-size: 3.5vw;
    }
    .my-accordion{
        width: 100% !important;
    }
    .cstm-btn-accordion{
        font-size: 3.5vw !important;
    }
    .cstm-body-accordion{
        font-size: 3.5vw !important;
    }

    /* CSS Footer */
    .footer-1 p{
        font-size: 4vw;
    }
    .footer-2 a{
        font-size: 4vw;
    }
    .footer-3{
        margin-top: 15px !important;
    }
    .footer-3 p{
        font-size: 4vw;
    }
    .footer-4{
        padding-left: 14px !important;
        padding-bottom: 60px !important;
    }
    .footer-4 p{
        font-size: 4vw;
    }
}

@media (min-width: 425px) and (max-width: 575.98px){
    /* CSS Area Navbar */
    .main-menu{
        display: none;
    }
    .icon-menu{
        display: block;
    }
    .custom-width-offcanvas{
        width: 50% !important;
    }
    .area-logo{
        padding: 0 !important;
    }
    .area-menu{
        padding: 0 !important;
    }

    /* CSS Area Content Header */
    .desc-header{
        padding-top: 90px;
    }
    .title{
        font-size: 11vw;
    }
    .article{
        font-size: 4vw;
    }
    .desc-header br{
        display: none;
    }
    .title, .article, .btn-sewa{
        margin-left: 10px;
    }
    .img-header{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .btn-sewa{
        margin-bottom: 40px;
        font-size: 4vw !important;
    }
    .img-header img{
        width: 90%;
        position: absolute;
        top: 0;
    }
    .bg-img-header{
        width: 93%;
        height: 10em;
        margin-top: 110px;
    }

    /* CSS Image Service */
    .img-service{
        padding-top: 100px !important;
        padding-left: 50px !important;
        margin: 0;
    }
    .img-service img{
        width: 100%;
        height: 100%;
    }

    /* CSS Description Service */
    .description{
        padding-top: 0;
        margin: 0;
    }
    .title-desc{
        margin-left: 10px;
        font-size: 7vw;
    }
    .title-desc br{
        display: none;
    }
    .article-desc{
        margin-left: 10px;
        font-size: 4vw;
    }
    .article-desc br{
        display: none;
    }
    .description ul{
        padding-left: 10px;
    }
    .description ul li{
        margin-top: 15px;
        font-size: 4vw;
    }
    .description ul li p{
        padding-top: 4px;
        margin-left: 40px;
    }
    .description ul li img{
        margin-top: 0.3em;
    }

    /* CSS Why Us */
    .why-us{
        padding-top: 100px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .why-us h3{
        margin-bottom: 15px;
        font-size: 7vw;
    }
    .why-us p{
        margin-bottom: 20px;
        font-size: 4vw;
    }

    /* CSS Desc Why Us */
    .desc-why-us{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 15px;
        margin: 0;
    }
    .item-1 h6, .item-2 h6, .item-3 h6, .item-4 h6{
        font-size: 5vw;
    }
    .item-1 p, .item-2 p, .item-3 p, .item-4 p{
        font-size: 4vw;
    }
    .item-1 br, .item-2 br, .item-3 br, .item-4 br{
        display: none;
    }

    /* CSS Testimonial */
    .testimonial h3{
        font-size: 7vw;
    }
    .testimonial p{
        font-size: 4vw;
    }

    /* CSS Carousel */
    .mobile-block{
        display: none;
    }
    .box-testimonial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 92%;
        margin-left: 4%;
    }
    .photo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .item-testimonial img{
        width: 25%;
        height: 25%;
        margin-left: 37%;
        margin-right: 37%;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .item-testimonial p{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 4vw;
    }
    .item-testimonial br{
        display: none;
    }
    .box-testimonial .about-me{
        font-size: 4vw;
    }
    .my-btn-carousel{
        margin-left: 25px;
        margin-bottom: 50px;
    }

    /* CSS Deskripsi Sewa Mobil */
    .bg-desc-sewa{
        margin-bottom: 0 !important;
    }
    .desc-sewa{
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
    .desc-sewa h2{
        font-size: 7vw;
    }
    .desc-sewa p{
        font-size: 4vw;
        margin-bottom: 30px;
    }
    .desc-sewa br{
        display: none;
    }
    .btn-sewa-custom{
        font-size: 4vw !important;
    }

    /* CSS FAQ */
    .faq-container{
        margin: 0 0 90% 0 !important;
        padding-top: 100px;
    }
    .faq-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 20px;
    }
    .faq-title h5{
        margin: 0;
        font-size: 6.5vw;
        margin-bottom: 10px;
    }
    .faq-title p{
        margin: 0;
        font-size: 3.5vw;
    }
    .my-accordion{
        width: 100% !important;
    }
    .cstm-btn-accordion{
        font-size: 3.5vw !important;
    }
    .cstm-body-accordion{
        font-size: 3.5vw !important;
    }

    /* CSS Footer */
    .footer-1 p{
        font-size: 4vw;
    }
    .footer-2 a{
        font-size: 4vw;
    }
    .footer-3{
        margin-top: 15px !important;
    }
    .footer-3 p{
        font-size: 4vw;
    }
    .footer-4{
        padding-left: 14px !important;
        padding-bottom: 60px !important;
    }
    .footer-4 p{
        font-size: 4vw;
    }
}